.experience-project-section {
  // padding: 2%;

  mat-card,
  .card-project {
    flex: 1 0 300px;
    max-width: 350px;
    height: 400px;
    background-color: white;
    color: black;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
    position: relative;

    .card-default {
      width: 100%;
      height: 100%;
      transition: opacity 200ms ease-in;
    }

    .card-onHover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: black;
      border: 3px solid greenyellow;
      border-radius: 10px;
      // // background-image: linear-gradient(to bottom, #fa709a 0%, #fee140 100%);
      // background: #16A085;
      // /* fallback for old browsers */
      // background: -webkit-linear-gradient(to bottom, #F4D03F, #16A085);
      // /* Chrome 10-25, Safari 5.1-6 */
      // background: linear-gradient(to bottom, #F4D03F, #16A085);
      // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      background: #8E0E00;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


      transition: all 400ms ease-in-out;
      opacity: 0;

      .tech-stack-pill {
        border-bottom: 4px solid black;
        color: white;
        padding: 5px;
        margin: 5px;
      }

      .proj-detail-btn-hover {
        padding: 10px 10px;
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    &:hover .card-onHover {
      opacity: 100;
    }

    &:hover .card-default {
      opacity: 0;
    }

    &__title {
      font-size: 1.7rem;
      font-weight: 700px;
    }
  }

  @media (max-width:641px) {
    .mat-card {
      height: auto;
    }
  }

  ;
}
