<article class="experience-project">

  <!-- Banner start -->
  <section *ngIf="showTitle" class="page-title">
    <div class="flex flex-row flex-justify-content-space-between banner-div flex-wrap">
      <!-- Banner Text -->
      <div class="page-title-div">
        <h1 class="banner-text animate__animated animate__slideInLeft" color="white">
          Projects
        </h1>
      </div>
    </div>
  </section>

  <section class="project-card-section">
    <div class="flex text-center flex-justify-content-space-around flex-wrap">
      <div *ngFor="let job of experience;let i = index" class="project-card-div animate__animated animate__zoomIn">
        <mat-card class="card-project flex flex-column flex-justify-content-space-around flex-wrap">
          <!-- On Hover Card Info - Start -->
          <div class="card-onHover flex flex-column flex-justify-content-space-around flex-wrap">
            <mat-card-title class="card__title">
              <div class="company-logo">
                <img src="../../../assets/images/exp_companies/{{job.companyLogo}}" [alt]="job.imgAltText"
                  [style.width]="job.companyLogoWidth">
              </div>
            </mat-card-title>

            <mat-card-content class="card__snippet txtSize16">
              <div class="flex flex-row flex-justify-content-center flex-wrap">
                <div *ngFor="let tech of job?.techStack,let i = index">
                  <div class="tech-stack-pill" *ngIf="i < 5">
                   <span>{{tech}}</span>
                  </div>
                </div>
                <!-- <span *ngIf="job?.techStack.length > 5"></span> -->
              </div>
            </mat-card-content>
            <div class="w-100">
              <mat-card-actions class="card__detail text-center w-100">
                <button class="proj-detail-btn" mat-raised-button color="primary"
                  (click)="showProjectDetail(job)">
                  Project detail
                </button>
              </mat-card-actions>
            </div>

          </div>
          <!-- On Hover Card Info - End -->
          <!-- Default Card Info - Start -->
          <div class="card-default flex flex-column flex-justify-content-space-around flex-wrap">
            <div>
              <mat-card-title class="card__title text-left">
                <p class="card-title text-black">
                  {{job.companyName}}
                </p>
              </mat-card-title>
              <mat-card-subtitle class="text-left txtSize18">
                <p class="card-subtitle txtSize20 text-black">
                  {{job.position}}
                </p>
              </mat-card-subtitle>
            </div>
            <div>
              <mat-card-content class="card__snippet text-left txtSize16">
                <p class="card-content company-info txtSize16">
                  {{job.description}}
                </p>
              </mat-card-content>
            </div>
            <div class="w-100 action-mobile">
              <mat-card-actions class="text-center w-100">
                <button class="" mat-raised-button color="primary"
                  (click)="showProjectDetail(job)">
                  Project detail
                </button>
              </mat-card-actions>
            </div>
          </div>
          <!-- Default Card Info - End -->
        </mat-card>
      </div>
    </div>



  </section>

  <div *ngIf="!showTitle">
    <div  class="container all-proj-btn-container">
      <button mat-raised-button color="primary" [routerLink]="'/projects'">
        <span class="txtSize20">View All Projects</span>
      </button>
    </div>
  </div>


  <section *ngIf="showTitle">
    <app-learning-project></app-learning-project>
  </section>

</article>
