<section class="modal-some flex flex-column flex-justify-content-space-between">
  <!-- Header -->
  <div>
    <p>
      {{projectForModal.project.companyName}}
    </p>
    <span>
      {{projectForModal.project.position}}
    </span>
  </div>
  <!-- Tech stack-->
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi impedit excepturi beatae, maxime tenetur eum ipsam est laudantium. Enim inventore nesciunt accusantium, aut, minus aliquid hic ipsam quas ab aspernatur facilis commodi nemo adipisci iste impedit amet error distinctio quibusdam dolorum temporibus repudiandae, illum odio quaerat! Libero natus nesciunt asperiores?
  </div>
  <!-- Responsibility and Other Details-->
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, officiis cum. Quidem enim id hic, harum praesentium similique beatae eius ratione quo ad placeat ullam veritatis explicabo atque reiciendis ipsa quas officiis impedit modi repellat magni perspiciatis ex accusantium aliquid. Voluptates inventore omnis expedita neque ipsam facilis laborum dolorem sed? {{projectForModal.project.description}}
  </div>

  <div>

      <div class="flex flex-row flex-wrap flex-justify-content-space-around">
        <button mat-raised-button color="primary" (click)="onNoClick()">
          Checkout All projects
        </button>
        <button mat-raised-button [mat-dialog-close] color="primary">
          close
        </button>

      </div>
  </div>
</section>
