<section class="modal-some">
  <!-- Header -->
  <section>
    <p>
      {{projectForModal.project.companyName}}
    </p>
    <span>
      {{projectForModal.project.position}}
    </span>
  </section>
  <!-- Tech stack-->
  <section>

  </section>
  <!-- Responsibility and Other Details-->
  <section>
    {{projectForModal.project.description}}
  </section>

  <section>

      <div class="flex flex-row flex-wrap flex-justify-content-space-around">
        <button mat-raised-button color="primary" (click)="onNoClick()">
          Checkout All projects
        </button>
        <button mat-raised-button [mat-dialog-close] color="primary">
          close
        </button>

      </div>
  </section>
</section>
