@import '../../../variables.scss';

.dashboard-section {
  background-color: $black;
  color: white;

  .banner-div {
    background-color: black;
    color: white;
    height: 100%;
  }

  .banner-text-div {
    width: 100%;
    padding: 5% 3%;
    margin: auto;
    margin-bottom: 5%;
    .banner-text {
      font-size: 3em;
    }
  }

  .banner-image {
    height: 100%;
    width: 100%;
  }

  @media (min-width:1025px) {
    .banner-text {
      font-size: 1em;
    }
  }

}

.hero {
  width: 100%;
  margin-top: auto;
  .scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mouse {
    width: 2.5rem;
    height: 5rem;
    border: 2px solid white;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex;

    span {
      width: 1rem;
      height: 1rem;
      background-color: white;
      display: block;
      border-radius: 50%;
      margin:auto;
      animation: move-wheel 1s linear infinite;
    }
  }

  .arrow {
    span {
      display: block;
      width: 1rem;
      height: 1rem;
      border : 2px solid transparent;
      border-right-color: white;
      border-bottom-color: white;
      transform: rotate(45deg);
      animation: arrow-down 0.5s alternate infinite;
    }
  }

  @keyframes move-wheel {
    0%{
      opacity: 0;
      transform: translateY(-1rem);
    }
    100%{
      opacity: 1;
      transform: translateY(1rem);
    }
  }


  @keyframes arrow-down {
    0%{
      opacity: 0;
    }
    25%{
      opacity: 0.25;
    }
    50%{
      opacity: 0.50;
    }
    75%{
      opacity: 0.75;
    }
    100%{
      opacity: 1;
    }
  }
}


/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {  };
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {  };
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
  .banner-text-div {
    width: 100%;
    padding: 1%;
    margin-bottom: 3%;
    .banner-text {
      font-size: 2em;
    }
  }
 }
