<article class="dashboard" id="dashboard">
  <!-- Banner start -->
  <section class="banner-section">
    <div class="flex flex-column flex-justify-content-space-between banner-div flex-wrap">
      <!-- Banner Text -->
      <div class="animate__animated animate__slideInLeft">
        <h1 class="banner-text" style="display: block;">
          Hi, I am Jay <br>
          Web Designer and a Front-end Developer <br>
          based in Ontario, Canada
        </h1>

        <p class="txtSize25 mar-h-25 banner-subtext" style="display: block;">
         <a class="contactMeLink" (click)="scrollContactMe($event)">Contact me</a> if you have an interesting project
        </p>
      </div>


      <div class="call-action-btn-div flex flex-wrap">
        <button mat-raised-button matTooltip="Go to Linked-in" matTooltipClass="custom-tooltip"
          aria-label="go to linkedin " color="primary" class="git-hub-btn animate__animated animate__rotateIn"
          style="margin-left: 0px;">
          <p class="no-margin">
            <a href="https://www.linkedin.com/in/jay-desai-82626070" target="_blank">
              <img class="git-hub" src="../../../assets/icons/linkedin.svg" alt="linkedin logo">
            </a>
          </p>
        </button>

        <button mat-raised-button matTooltip="Go to Github" matTooltipClass="custom-tooltip" aria-label="go to git-hub"
          color="primary" class="git-hub-btn animate__animated animate__rotateIn">
          <p class="no-margin">
            <a href="https://github.com/jayDesai89" target="_blank">
              <img class="git-hub" src="../../../assets/icons/github.svg" alt="github logo">
            </a>
          </p>

        </button>

        <button mat-raised-button color="primary" (click)="scroll($event)"
          class="scroll-down-btn animate__animated animate__slideInLeft">
          <p class="no-margin flex flex-align-center">
            <span class="txtSize20 arrow-down-text">Some of my projects</span>
            <img class="arrow-down" src="../../../assets/icons/arrow-down.svg" alt="go to project">
          </p>

        </button>
      </div>
    </div>
  </section>

  <!-- Experience start -->
  <div id="stop-scroll-here">
  </div>
  <section id="exp-section" class="exp-section">
    <div class="row mar-30-bottom">
      <div class="col-12  text-center">
        <div class="exp-detail">
          <h2 class="" aria-label="Experience">
            Featured Projects
          </h2>
          <span class="txtSize16">
            Over 5 years of professional experience in web-based business application development,
            focusing on the presentation layer (UI/UX) as a UI/UX Front End Developer.
            Firsthand experience on the Software Development Life Cycle (SDLC) of Agile methodology
            including UX Design, implementation, testing, deployment, and maintenance.
          </span>
        </div>
      </div>
    </div>

    <app-portfolio-project></app-portfolio-project>

  </section>
  <!-- Experience end -->

  <!-- Personal Projects -->
  <section id="learning-proj-section" class="learning-proj-section">
    <div class="row mar-30-bottom">
      <div class="col-12" style="text-align: center;">
        <div>
          <h2 class="" aria-label="Learning projects">
            Personal projects
          </h2>
          <span class="txtSize16">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
            Nam repudiandae in neque fugit explicabo quam ea, repellat<br>
            magni sint necessitatibus!
          </span>
        </div>
      </div>
    </div>

    <app-learning-project></app-learning-project>

  </section>
  <!-- Personal Projects -->
  <div id="contact-me-stop-scroll-here">
  </div>
  <section class="contact-me-section">

    <div class="row mar-30-bottom">
      <div class="col-12" style="text-align: center;">
        <div>
          <h2 class="" aria-label="Contact me">
            Contact me
          </h2>
        </div>
      </div>
    </div>



    <div class="contact-me flex flex-column flex-justify-content-center">
      <div class="row">
        <div class="col-12 text-center w-100">
          <div class="contact-me-form">
            <form action="" [formGroup]="contactmeForm" (ngSubmit)="getContactmeForm(contactmeForm.value)"
              appearance="fill">
              <!-- Enter name of the city here -->
              <mat-form-field class="w-100">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" aria-label="name" type="text" aria-required="true"
                  appearance="fill">
              </mat-form-field>

              <!-- Enter name of the city here -->
              <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" aria-label="email"
                type="email" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com"
                appearance="fill">
                <mat-error *ngIf="personEmail?.hasError('email') && !personEmail?.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="personEmail?.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <!-- Enter name of the city here -->
              <mat-form-field class="w-100">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" aria-label="phone" type="phone" aria-required="true"
                  appearance="fill">
              </mat-form-field>

              <!-- Enter name of the city here -->
              <mat-form-field class="w-100">
                <mat-label>Detail</mat-label>
                <textarea matInput formControlName="detail" aria-label="detail"rows="4" cols="50" type="text" aria-required="true"
                  appearance="fill"></textarea>
              </mat-form-field>

              <div>
                <button mat-raised-button type="submit" color="primary" [disabled]="!contactmeForm.valid"
                  class="lets-talk-btn animate__animated animate__slideInLeft">
                  <span class="txtSize20">Lets talk</span>
                  <img class="send-icon" src="../../../assets/icons/send.svg" alt="contact jay">
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </section>

  <div style="height: 50px;width: 100%;"></div>
</article>
<!--
<section>
  <app-test-code *ngFor="let item of images" [cardBgImage]="item"></app-test-code>
</section> -->
