<article class="container-fluid dashboard-section">
  <!-- Banner start -->
  <section class="banner-section">
    <div class="flex flex-row flex-justify-content-space-between banner-div flex-wrap">
      <!-- Banner Text -->
      <div class="banner-text-div">
        <p class="banner-text animate__animated animate__slideInLeft">
          Hi, I am Jay <br>
          Web Designer and a Front-end Developer <br>
          based in Ontario, Canada
        </p>
      </div>
      <!-- Mouse Scroll down div -->
      <div class="hero flex flex-justify-content-center">
        <a href="#exp-section" class="scroll-down">
          <div class="mouse">
            <span></span>
          </div>
          <div class="arrow">
            <span></span>
          </div>
        </a>
      </div>
    </div>

  </section>
  <!-- Banner end -->

  <!-- Experience start -->
  <section id="exp-section" class="exp-section" style="margin-top: 2%; margin-bottom: 5%;">

    <div class="exp-detail row mar-30-bottom">
      <div class="col-12" style="text-align: center;">
        <div>
          <p class="txtSize30" aria-label="Experience">
            Featured Projects
          </p>
          <span class="txtSize16">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
            Nam repudiandae in neque fugit explicabo quam ea, repellat<br>
            magni sint necessitatibus!
          </span>
        </div>
      </div>
    </div>

    <app-portfolio-project *ngIf="show_project_comp"></app-portfolio-project>

  </section>
  <!-- Experience end -->

  <!-- Personal Projects -->
  <section style="margin-bottom: 5%;">

    <div class="row mar-30-bottom">
      <div class="col-12" style="text-align: center;">
        <div>
          <p class="txtSize30" aria-label="Learning projects">
            Personal projects
          </p>
          <span class="txtSize16">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
            Nam repudiandae in neque fugit explicabo quam ea, repellat<br>
            magni sint necessitatibus!
          </span>
        </div>
      </div>
    </div>

    <app-learning-project *ngIf="show_learning_comp"></app-learning-project>

  </section>
  <!-- Personal Projects -->
</article>
<!--
<section>
  <app-test-code *ngFor="let item of images" [cardBgImage]="item"></app-test-code>
</section> -->
