<article class="container-fluid dashboard-section">
  <!-- Banner start -->
  <section class="banner-section">
    <div class="flex flex-row flex-justify-content-space-between banner-div">
      <!-- Banner Text -->
      <div class="banner-text-div">
        <!-- <p class="banner-text">
          Hi, I am Jay </p><br>
          <div @onHover class="tech-word">
            Web-Designer and Front-end Developer
          </div>
         <p>based in Ontario, Canada</p> -->
         <p class="banner-text animate__animated animate__slideInLeft">
           Hi, I am Jay <br>
           Web Designer and a Front-end Developer <br>
           based in Ontario, Canada
         </p>
         <p style="background-color: red;color: white;">
          <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
         </p>
      </div>
      <!-- Banner Image-gif-->
      <div class="banner-image-div">
        <!-- <img class="banner-image" src="../../../assets/images/stockImages/dev_5_topView_Image.png" alt=""> -->
      </div>
    </div>
  </section>
  <!-- Banner end -->

  <!-- Experience start -->
  <section class="exp-section" style="margin-bottom: 5%;">

    <div class="exp-detail row mar-30-bottom">
      <div class="col-12" style="text-align: center;">
        <div>
          <p class="txtSize30" aria-label="Experience">
            Featured Projects
          </p>
          <span class="txtSize16">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
             Nam repudiandae in neque fugit explicabo quam ea, repellat<br>
              magni sint necessitatibus!
          </span>
        </div>
      </div>
    </div>

  <app-portfolio-project *ngIf="show_project_comp"></app-portfolio-project>

  </section>
  <!-- Experience end -->

  <!-- Personal Projects -->
  <section style="margin-bottom: 5%;">

    <div class="row mar-30-bottom">
      <div class="col-12" style="text-align: center;">
        <div>
          <p class="txtSize30" aria-label="Learning projects">
            Personal projects
          </p>
          <span class="txtSize16">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
             Nam repudiandae in neque fugit explicabo quam ea, repellat<br>
              magni sint necessitatibus!
          </span>
        </div>
      </div>
    </div>

    <app-learning-project *ngIf="show_learning_comp"></app-learning-project>

  </section>
  <!-- Personal Projects -->
</article>
<!--
<section>
  <app-test-code *ngFor="let item of images" [cardBgImage]="item"></app-test-code>
</section> -->
