@import '../../../variables.scss';

.dashboard {
  color: white;
  padding-top: 5%;

  .banner-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../../../assets/images/pexels-stein-egil-liland-3535417.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    transform: scale(1);



    .banner-div {
      color: white;
      text-align: left;
      padding: 8% 5%;
      margin-bottom: 10%;


      .banner-text {
        font-size: 3em;
        font-weight: normal;

        .name {
          &:hover {
            color: lightseagreen;
            // cursor: pointer;
            transform: scale(1.2);
            transition: all 200ms ease-in-out;
            }
            }

            .dev {
              .dev-icon {
                opacity: 0;
              }

              &:hover {
                .dev-icon {
                  opacity: 100;
                  transition: all 300ms ease-in-out;
                  animation: slideInRight;
                  /* referring directly to the animation's @keyframe declaration */
                  animation-duration: 500ms;
                  /* don't forget to set a duration! */
                }
          }
        }

      }

      .contactMeLink{
        color: white;
        cursor: pointer;
        text-decoration: underline;
      }

      .call-action-btn-div {
        justify-content: flex-start;
        align-items: center;

        button {
          height: 50%;
          margin-left: 1%;
          padding: 1%;
        }

        .git-hub-btn {
          transition: all 200ms ease-in-out;

          &:hover {
            transform: scale(1.2);
            transition: all 200ms ease-in-out;
          }
        }

        .scroll-down-btn {

          .arrow-down {
            margin-left: 12px;
          }
        }
      }
    }
  }

  #stop-scroll-here {
    margin-bottom: 5%;
    margin-top: 3%;
    // height: 90px;
    background-color: transparent;
  }

  #contact-me-stop-scroll-here {
    // margin-bottom: 5%;
    height: 90px;
    background-color: #212121;
  }





}

// ######################################### Media query #########################################
/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (max-width:320px) {
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media screen and (max-width:481px) {
  .banner-section {
    background-image: url('../../../assets/images/pexels-alexandre-p-junior-7736151.jpg') !important;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    transform: scale(1);
    .banner-div{
      padding-top: 30% !important;
    }
  }


  .contectMe-Text {
    display: none;
  }

  .exp-detail {
    width: 100% !important;
  }

  .call-action-btn-div > button {
    &:last-child {
      margin-left: 0px !important;
    }
  }

  .scroll-down-btn {
    width: auto;

    .arrow-down-text {
      padding: 5px;
      white-space: initial;
    }

    .arrow-down {
      margin: 0px;
    }
  }

  .lets-talk-btn {
    padding: 5% !important;
  }
};

/* port and rait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (max-width:641px) {
  .banner-text {
    font-size: 2em !important;
  }

  .banner-subtext {
    font-size: 22px;
    margin: 25px 0px 7px 0px !important;
  }

  .call-action-btn-div {
    button {
      height: 100% !important;
      margin: 2%;
    }

    .scroll-down-btn {
      // margin-top: 4%;
    }
  }
}

/* tabl and et, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:961px) {}

/* big and landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {}

/* hi-r and es laptops and desktops */
@media screen and (min-width:1281px) {}

custom-tooltip {
  /* your own custom styles here */
  /* e.g. */
  color: red !important;
}
