.learning-project {
  background: #212121;

  .page-title-div {
    padding: 4% 5% 2% 5%;
    color: white;
    width: 100%;

    h1 {
      font-weight: normal;
    }
  }

  .project-card-div {
    padding: 3%;
  }

  mat-card,
  .card-project {
    flex: 1 0 300px;
    max-width: 350px;
    height: 350px;
    background-color: white;
    color: black;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 0%;
      background-image: linear-gradient(to bottom, #fa709a 0%, #fee140 100%);
      background: #11998e;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #38ef7d, #11998e);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      transition: all 400ms ease-in-out;
      opacity: 1;
    }

    .card-default {
      width: 100%;
      height: 100%;
      transition: opacity 200ms ease-in;

      .card-title {
        font-size: bolder;
        font-size: 1em;
      }

      .action-mobile {
        display: none;
      }

    }

    .card-onHover {
      align-items: center;
      padding: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      border-radius: 10px;

      .tech-stack-pill {
        border-bottom: 2px solid black;
        color: black;
        padding: 5px;
        margin: 5px;
      }

      &:hover {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all 300ms ease-in-out;

        .tech-stack-pill {
          animation: slideInLeft;
          /* referring directly to the animation's @keyframe declaration */
          animation-duration: 500ms;
          /* don't forget to set a duration! */
        }

        button {
          transition: all 200ms ease-in-out;
          &:hover {
            transform: scale(1.2);
            transition: all 200ms ease-in-out;
          }

        }

      }
    }

    .code-btn,
    .demo-btn {
      a {
        color: white;
      }
    }

    mat-card-actions {
      margin: 0px;
    }


  }

  .card-project:hover::before {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transform: scale(1.06);
    transition: all 200ms ease-in-out;
  }

}

// ######################################### Media query #########################################
/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (min-width:320px) {}

;

/* port and rait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media screen and (max-width:481px) {
  .exp-detail {
    width: 100%;
  }

  .project-card-div {
    padding: 3% 1% !important;
  }


  mat-card,
  .card-project {
    flex: 1 0 auto;
    max-width: 100% !important;
    height: 100% !important;

    &::before {
      display: none;
    }

    .card-onHover {
      display: none;
    }
  }


  .all-proj-btn-container {
    width: 100% !important;
    text-align: center;
    margin-top: 3%;

    button {
      width: 100% !important;
      margin: 3% 0;
      padding: 5%;
    }
  }


  .action-mobile {
    display: block !important;
  }
}

;

/* port and rait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (max-width:641px) {
  .proj-detail-btn-hover {
    width: auto;
  }

  .btn {
    margin: auto;
  }

  .all-proj-btn-container {
    width: 100% !important;
    text-align: center;
    margin-top: 3%;

    button {
      width: 80% !important;
      margin: 3% 0;
      padding: 2%;
    }
  }

}

;

/* tabl and et, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:961px) {}

/* big and landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {}

/* hi-r and es laptops and desktops */
@media screen and (min-width:1281px) {}
