.learning-project {
  // padding: 2%;

  .page-title-div {
    padding: 5%;
    color: white;
    width: 100%;
  }

  mat-card,
  .card-project {
    flex: 1 0 300px;
    max-width: 350px;
    height: 400px;
    background-color: white;
    color: black;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 0%;
       background-image: linear-gradient(to bottom, #fa709a 0%, #fee140 100%);
      background: #11998e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      transition: all 400ms ease-in-out;
      opacity: 1;
    }

    .card-default {
      width: 100%;
      height: 100%;
      transition: opacity 200ms ease-in;
    }

    .card-onHover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      border-radius: 10px;
      .tech-stack-pill {
        border-bottom: 2px solid black;
        color: black;
        padding: 5px;
        margin: 5px;
      }

      &:hover {
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
        opacity: 1;
      }
    }


  }



  .card-project:hover::before {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transform: scale(1.06);
    transition: all 200ms ease-in-out;
  }

  @media (max-width:641px) {
    .mat-card {
      height: auto;
      width: 100%;
    }
  }

}

