<section class="container-fluid learning-project-section">
  <div class="flex text-center flex-justify-content-space-around flex-wrap">
    <div *ngFor="let project of learningExp"
      class="pad-10-all animate__animated animate__zoomIn">
      <mat-card style="display: flex;" class="flex flex-column flex-justify-content-space-around">
        <div>
          <mat-card-title class="text-left txtSize20">
            {{project.projectName}}
          </mat-card-title>
        </div>
        <div>
          <mat-card-subtitle class="text-left txtSize18">
            {{project.techStack}}
          </mat-card-subtitle>
        </div>

        <div>

        <mat-card-content class="text-left txtSize16">
          {{project.description}}
        </mat-card-content>
        </div>

        <div>
          <mat-card-action class="text-center">
            <div class="flex flex-row flex-wrap flex-justify-content-space-around">
              <button mat-raised-button color="primary">
                Code
              </button>
              <button mat-raised-button color="primary">
                Demo
              </button>
            </div>

          </mat-card-action>
        </div>

      </mat-card>
    </div>
  </div>

</section>
