@import '../../../variables.scss';
@import url("https://fonts.googleapis.com/css?family=Lato:300");

.app-header {
  position: fixed;
  display: flex;
  color: $white;
  padding: 10px 0px;
  background-color: $black;
  background: black;
  width: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  transition: all 300ms ease-in-out;

  .web-header {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    // border: 1px solid greenyellow;
    width: 100%;

    .app-header-left-div {
      display: flex;
      padding: 0px 10px;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      background-color: black;

      .app-heading-title {
        color: white;
        cursor: pointer;
        font-size: 40px;
        margin: 0px;
        font-weight: 400;
        a {
          color: white;
        }
      }
    }

    .app-header-right-div {
      display: flex;
      padding: 0px 10px;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      background-color: black;
      .navbar {
        padding-right: 0px;

        ul > li {
          padding: 0px 15px;
          margin: 0px 10px;
        }

        ul > li:last-child{
          padding: 0px 15px 0px 15px;
          margin: 0px 0px 0px 10px;
        }

        .nav-link {
          color: white;
          cursor: pointer;
          font-weight: normal;
          transition: all 100ms ease-in-out;
        }

        .nav-link-active-li {
          background-color: white;
          border-radius: 20px;
          transition: all 100ms ease-in-out;

          .nav-link-active {
            color: black;
          }
        }

      }
    }
  }
}

.phone-header {
  width: 100%;
  background: black;
  // padding: 10px 20px;

  .app-mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .app-heading-title-mobile {
      margin: 0;
      font-size: 30px;

      a {
        color: white;
      }
  }

  .app-header-toggle-button-div-mobile {
    padding: 15px 0px 10px 0;

    button {
      background-color: black;
      padding-right: 0px;
      height: auto;
      img {
        float: right;
      }
    }
  }
  }

  .app-mobile-nav-drop-down{
    display: flex;
    background-color: black;
    justify-content: center;


    .navbar {
      padding-right: 0px;

      ul>li {
        padding: 0px 15px;
        margin: 10px 10px;
      }

      .nav-link {
        color: white;
        cursor: pointer;
        font-weight: normal;
        transition: all 100ms ease-in-out;
      }

      .nav-link-active-li {
        background-color: white;
        border-radius: 20px;
        transition: all 100ms ease-in-out;

        .nav-link-active {
          font-weight: bold;
          color: black;
        }
      }

    }
  }
}


.nav-bar-active {
  position: fixed;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  // transition: all 300ms ease-in-out;
  border-bottom: 3px solid #3498db;
}

.app-header.nav-bar-active {
  padding: 0px;
}
