  <!-- Default web -->
 <header class="" [class.header_change]="header_variable">
  <section class="app-header row">

   <div class="col-lg-6 col-md-6 col-sm-4">
     <div style="width: max-content;">
      <h1 class="app-heading" routerLink="/dashboard">
        Jay Desai
      </h1>
     </div>
   </div>
   <!-- Header - right - Navigation -->
   <div class="col-lg-6 col-md-6 col-sm-4">
    <nav class="navbar fix-top navbar-expand-lg">
      <button class="navbar-toggler"
      style="background-color: white;"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li routerLinkActive="nav-link-active-li"  class="nav-item">
            <a routerLinkActive="nav-link-active" routerLink="/dashboard" class="nav-link">Home</a>
          </li>
          <li routerLinkActive="nav-link-active-li" class="nav-item">
            <a  routerLinkActive="nav-link-active" routerLink="/projects" class="nav-link">Projects</a>
          </li>
          <li routerLinkActive="nav-link-active-li"  class="nav-item">
            <a routerLinkActive="nav-link-active" routerLink="/contactme" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

   </div>

</section>
</header>

 <!-- If Mobile -->
 <section>

 </section>


