  <section class="app-header" id="someNav">

    <!-- Web top navigation -->
    <div *ngIf="!showMobileToggle" class="web-header container-fluid animate__animated animate__backInDown" id="navbar">
      <div class="app-header-left-div">
        <div class="jd gradient-border">
          <p class="app-heading-title" routerLink="/dashboard">
            JD
          </p>
        </div>
      </div>
      <div class="app-header-right-div">
        <nav class="navbar navbar-expand-lg" role="navigation">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
              <li routerLinkActive="nav-link-active-li" class="nav-item">
                <a routerLinkActive="nav-link-active" routerLink="/home" class="nav-link">Home</a>
              </li>
              <li routerLinkActive="nav-link-active-li" class="nav-item">
                <a routerLinkActive="nav-link-active" routerLink="/projects" class="nav-link">Projects</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- mobile top navigation -->
    <div *ngIf="showMobileToggle" class="phone-header container-fluid animate__animated animate__backInDown"
      id="navbar">
      <!--1st Row flex box -->
      <div class="app-mobile-header">
        <div class="gradient-border">
          <p class=" jd app-heading-title-mobile" routerLink="/home">
            JD
          </p>
        </div>
        <div class="app-header-toggle-button-div-mobile">
          <button mat-raised-button (click)="showSideBar = !showSideBar">
            <img *ngIf="showSideBar" class="animate__animated animate__rotateIn 100ms" src="../../../assets/icons/x(2).svg" alt="icon close">
            <img *ngIf="!showSideBar" class="animate__animated animate__rotateIn 100ms" src="../../../assets/icons/menu.svg" alt="icon menu">
          </button>
        </div>
      </div>
      <!--2nd Row flex box -->
      <div *ngIf="showSideBar" class="app-mobile-nav-drop-down" [@slideDownUp]>
        <div class="link-div">
          <nav class="navbar navbar-expand-lg" role="navigation">
            <div class="" id="navbarSupportedContent">
              <ul class="navbar-nav flex-justify-content-center flex-align-center">
                <li routerLinkActive="nav-link-active-li" class="nav-item">
                  <a routerLinkActive="nav-link-active" routerLink="/home" class="nav-link"
                    (click)="showSideBar = !showSideBar">Home</a>
                </li>
                <li routerLinkActive="nav-link-active-li" class="nav-item">
                  <a routerLinkActive="nav-link-active" routerLink="/projects" class="nav-link"
                    (click)="showSideBar = !showSideBar">Projects</a>
                </li>
              </ul>
            </div>
          </nav>
          <span class="drawer-inset-shadow"></span>
        </div>
      </div>

    </div>

  </section>
