@import '../../../variables.scss';

.app-header {
  color: $white;
  background-color: $black;
  padding: 1% 3%;

  .app-heading {
    color: white;
    cursor: pointer;
    a {
      color: white;
    }
  }

  .navbar {
    padding-right: 0px;

    ul > li {
      padding: 0px 15px;
      margin: 0px 10px;
    }

    ul > li:last-child{
      padding: 0px 15px 0px 15px;
      margin: 0px 0px 0px 10px;
    }

    .nav-link {
      color: white;
      cursor: pointer;
      font-weight: normal;
    }

    .nav-link-active-li {
      background-color: white;
      border-radius: 20px;
      transition: 0.5s;

      .nav-link-active {
        font-weight: bold;
        color: black;
      }
    }

  }

}
