<article class="contactme-section">
<section>
  <div class="row mar-30-bottom">
    <div class="col-12" style="text-align: left;">
      <div>
        <h2 style="color: white;">
          Contact me
        </h2>
      </div>
    </div>
  </div>
</section>


<section >
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-8" style="border-right: 1px solid black;">
          <div>
            <form action="" [formGroup]="contactmeForm" (ngSubmit)="getContactmeForm(contactmeForm.value)">
              <!-- Enter name of the city here -->
              <mat-form-field class="w-100">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" aria-label="name" type="text" aria-required="true">
              </mat-form-field>

              <!-- Enter name of the city here -->
              <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" aria-label="email" type="email" aria-required="true">
              </mat-form-field>

              <!-- <mat-error *ngIf="email.errors?.pattern && email.value !== ''" class="">
                Please enter valid email
              </mat-error>
              <mat-error *ngIf="email.touched && email.invalid && !email.errors?.pattern">
                User name is
                required
              </mat-error> -->

              <!-- Enter name of the city here -->
              <mat-form-field class="w-100">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" aria-label="phone" type="phone" aria-required="true">
              </mat-form-field>

              <!-- Enter name of the city here -->
              <mat-form-field class="w-100">
                <mat-label>Detail</mat-label>
                <input matInput formControlName="detail" aria-label="detail" type="text" aria-required="true">
              </mat-form-field>


            </form>
          </div>

        </div>
        <div class="col-4">
          <div>
            <p>
              Contact me on
            </p>
            <div class="flex flex-row flex-justify-content-space-around">
              <div>
                <i class="fa fa-linkedin"></i>
              </div>

              <div>
                <i class="fa fa-linkedin"></i>
              </div>

              <div>
                <i class="fa fa-linkedin"></i>
              </div>
            </div>

          </div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
  <!-- <div class="row">
    <div class="col-7">

    </div>
  </div> -->
</section>

</article>
