<article class="project-detail">

  <!-- Banner start -->
  <section class="page-title">
    <div class="flex flex-row flex-justify-content-space-between banner-div flex-wrap">
      <!-- Banner Text -->
      <div class="page-title-div">
        <h1 class="banner-text animate__animated animate__slideInLeft" color="white">
          Project detail
        </h1>
      </div>
    </div>
  </section>

  <section class="project-detail-section">
    <div>
      <h2 class="comapnyName-title">
        {{selectedProj?.companyName}}
      </h2>
      <p class="projectsubtitle">
        {{selectedProj?.companyName}}
      </p>
      <p>
        Project duration : June 2020 – Active project
      </p>
    </div>
    <div class="project-name">
      eChat, Usage enahancement etc
    </div>

    <div>

    </div>
    <section>
      <h3>
        Responsibilities
      </h3>
      <div>
        <ul>
          <li>
            Collaborating with the team responsible for upgrading existing Bell applications, web sites, and web pages with accessibility features.
          </li>
          <li>
            Leading a team of developers for developing mark-ups provided by design teams. As well well responsible for proving estimates of time and resources, maintaining timelines of project delivery
          </li>
          <li>
            Communicating and collaborating with different teams such as Business, Designs, Development, Implementation, and Testing
          </li>
          <li>
            Working as a solution architecture, code reviews, and guiding developers for writing clean, maintainable code
          </li>
        </ul>
      </div>

    </section>
  </section>
</article>
