$white    : #FFFFFF;
$red      : #FF0000;
$green    : #00ff00;
$black    : #000000;
$lightGrey: #f7f7f7;
$darkGrey : #eeeeee;
$bodyBackground : white;
$lightGrey: lightGrey;
$ultraLightGrey: #f5f6f6;
$defaultTextColor : black;
$blueTextColor: blue;
$backGroundBlueShadeOne: #1385D1;
$whiteTextColor: white;
$font-sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 700;
$bolder: 900;

